# Compilação
target/
*.class
*.jar
*.war
*.ear

# Arquivos de log
*.log

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados pelo IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# Arquivos temporários
*.swp
*.swo
*~
